body{
    margin:0;
    font-family: sans-serif;
    line-height: 1.3em;
    background: url(img/sun.jpg);
}
.logo{
   float: left;  
}
.logo h2{
    font-size: 23px;
    color: chartreuse;
    margin: 0;
    padding-left: 12px;
}
.logo span{
    color: chocolate;
}

/* Dropdown_basic */
#Dropdown_menu{
   width: 100%;
   clear: both;
}
.inner_dropdown{
    background: #2F3D57;
    padding: 15px 0;
    border-radius: 5px;
    min-height: 23px;
}
.inner_dropdown ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.inner_dropdown ul li{
    display: inline-block;
    margin: 0 15px;
    position: relative;
}
.inner_dropdown ul li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 2px;
}
.inner_dropdown ul li a:hover{
    color: tomato;
    
}
.inner_dropdown ul li:hover a{
    color: tomato;
    
}
.inner_dropdown ul li:hover ul li a{
    color: #fff;
    
}

/* Dropdown_style */

.inner_dropdown ul ul{
   margin: 0;
   padding: 0;
   position: absolute;
   background: #2F3D57;
   width: 150px;
   left: -99999px;
   top: 23px;
}

.inner_dropdown ul ul li{
   margin: 0;
   display: block;
}

.inner_dropdown ul ul ul{
     left: 150px;
     top: 0;
}

.inner_dropdown ul ul li:hover a{
    color: #fff;
    background: #6D6B6D;
}

.inner_dropdown ul ul li:hover ul li a{
    color: #fff;
    background: none;
}
.inner_dropdown ul ul li ul li a:hover{
    color: #fff;
    background: #6D6B6D;
}


/* /////////////////////// */

.inner_dropdown ul li:hover ul{
    left: 0;
}
.inner_dropdown ul li:hover ul ul{
    left: -999999px;
}

.inner_dropdown ul li ul li:hover ul{
    left: 150px;
}

